<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.example.mapper.WebMapper">
 
    <insert id="webInsert" parameterType="com.example.domain.WebVO">
        insert into web_pro
            values
        (#{bno},#{subject},#{content},#{writer},now(),0)
    </insert>
    
    <select id="webList" resultType="com.example.domain.WebVO">
        select * from web_pro
    </select>

 
</mapper>